@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/gt-eesti-display-trial');
@import url('https://fonts.cdnfonts.com/css/gloock-2');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  font-family: 'GT Eesti Text Trial', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .hero{
  background: url(/event-gallery/IMG_6489.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
} */


.hero h1{
  font-family: 'Gloock', sans-serif;
}

h1, h2, h3 {
  font-family: 'Gloock', sans-serif;
  /* @apply font-medium; */
}

/* Marquee styles */
.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.marquee__content {
  animation: scroll 20s linear infinite;
}

.noise-bg {
  background: white url("https://i.pinimg.com/originals/5a/93/4e/5a934e84f67d2a61a118ec95b1d6cb74.gif") left top/1.8% 1.8% repeat;
}

.btn{
  @apply bg-amber-600 px-8 py-3 rounded-full w-max inline-block text-white hover:shadow-lg hover:bg-amber-700;
}


body {
  background-size: 55px 55px;
  background-image:
    linear-gradient(to right, rgba(128, 128, 128, 0.25) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.25) 1px, transparent 1px);
  color: black;
}

p {
  @apply text-base sm:text-lg; 
}

ol li{
  @apply text-sm sm:text-base;
}

/* Fade out animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255); /* Adjust as necessary */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure loader is above all other content */
  transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

.loader.fade-out {
  opacity: 0; /* Start fade out */
}

.loader:not(.fade-out) {
  opacity: 1; /* Fully visible */
}
